include /blocks/index/index

extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'title';

block content
	+index()
	p
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum commodo eleifend. Vivamus congue posuere ligula sed blandit. Morbi quam massa, ultricies sodales sem ac, auctor hendrerit urna. Fusce varius sagittis placerat. Integer id ex elit. Vestibulum condimentum aliquet eros dictum lobortis. Vestibulum eget lobortis lorem. Sed vel nisl in odio dignissim mattis ac vel neque. Phasellus a nisi vitae quam aliquam tristique eget ac enim. Pellentesque a lobortis mi. Integer ullamcorper hendrerit augue, pretium tempor mi bibendum nec. Vestibulum ac rutrum mauris, vel porta orci. Aliquam pellentesque neque et facilisis ornare. Etiam tellus odio, efficitur ac pharetra eget, volutpat in neque.
